html {
  scroll-behavior: smooth;
}

/* === GENERAL === */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f5f6f8;
  color: #1a1a1a;
}

/* === NAVBAR === */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  position: fixed;
  width: 100%;
  background-color: transparent;
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 7px;
  align-items: center;
  border-radius:15px;
  flex-wrap: wrap;
  z-index:1000;
  justify-content: center; /*ini yang buat isi ketengah */
  backdrop-filter: blur(10px);
}


.nav-links a {
  display: inline-block;
  text-decoration: none;
  color: #636b6e;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: black;
  transform: scale(1.1);
}


.btn-talk {
  background: black;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

/* === HERO SECTION === */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  gap: 40px;
  margin:0 auto;
  background: linear-gradient(to bottom, #e0eaec, #e5e5e5);
}

.hero-left{
  padding-left:5rem;
}

.hero-left,
.hero-right {
  flex: 1; /* masing-masing ambil ruang sama */
}

.hero-image {
  flex: 0.8; /* lebih kecil sedikit dari teks */
  display: flex;
  justify-content: center;
  max-width: fit-content;
}

.hero-left h1 {
  font-size: 60px;
  line-height: 1.2;
}

.hero-left .btn-dark {
  background: black;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.hero-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 560px;
}

.hero-image img {
  width: 100%;
  max-width: 450px; 
  border-radius: 30px;
  object-fit: cover;
  height: auto;
}

.hero-right {
  max-width: 400px;
}

.hero-right h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-right p {
  color: #555;
  margin-bottom: 20px;
}

.btn-explore {
  background: black;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* === AVATAR ROW === */
.avatar-row {
    position: relative;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height:13vh;
    padding-top:0;
    background-color:white;
  }

.ava{
  position: absolute;
  object-fit: cover;
  background: white;
  max-width:18%;    
  padding:7px;
  border-radius:10px;
}

.ava1{
  bottom: 7.5vh; 
  left:21.6%;
}

.ava2{
  bottom: 7.5vh; 
  left: 50%;
  transform: translateX(-50%);
}

.ava3{
  bottom: 7.5vh; 
  left: 59.5%;
}

/* Tag effect */
.tag-list {
  position: relative;
  width: 19rem;
  margin:60px auto 0;
  margin-left:-10px;
  overflow: hidden;
  padding: 0 2rem;
}

.tag-list::before,
.tag-list::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4rem;
  pointer-events: none;
  z-index: 2;
}

.tag-list::before {
  left: 0;
  background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0));
}

.tag-list::after {
  right: 0;
  background: linear-gradient(270deg, rgba(255,255,255,1), rgba(255,255,255,0));
}

.inner {
  width: max-content;
  display: inline-flex;
  gap: 1rem;
  animation: loop 8s linear infinite;
  will-change: transform;
  align-items: center;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #333;
  font-size: 0.9rem;
  background-color: #f1f1f1;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.tag span {
  font-size: 1.2rem;
  color: #000;
}

.tag:hover {
  background-color: #e6e6e6;
  transform: scale(1.05);
}

.fade {
  display: none;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* === ABOUT SECTION === */
.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 180px;
  padding-top:0px;
  gap: 80px;
  background: white;
}

.about-left {
  width: 30vw;
}

.about-left h2 {
  font-weight: 500;
  font-size: 40px;
  background: linear-gradient(to right, #1d1e1a, gray);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-left .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 25px;
}

.about-left .tags span {
  border: 1px solid #b5b5b5;
  border-radius: 12px;
  padding: 6px 15px;
  font-weight: 500;
}

.about-right {
  width: 35%;
  background:black;
  border-radius: 25px;
  text-align: center;
  color: white;
  padding: 40px 20px;
}

.about-right img {
  width: 13vw;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  filter: brightness(0.5);
}

.about-right img:hover {
  transform: scale(1.5);
  filter: brightness(1);
}

.about-right h3 {
  font-size: 28px;
  font-weight: 500;
}

/* === COOKIE DIVIDER === */
.cookie-divider{
  position: relative;
  width: 100%;
  height: 100%; /* biar gambar kuki full tinggi aslinya */
  overflow: hidden;
  z-index: 1;
  background-color: #E3E4E4;
}

.cookie-divider img {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

/* === PROJECT SECTION === */
.project {
  position: relative;
  margin-top: -1650px; /* sesuaikan supaya project muncul di depan kuki */
  z-index: 2; /* di atas kuki */
  text-align: center;
  justify-content: center;
  padding: 160px 60px 100px 150px;
  background: transparent; /* biar kuki kelihatan di belakang */
}

.project img{
  margin-top:10px;
  margin-bottom:10px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.project-card {
  position: relative;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 0.5s ease;
}

.project-card img:hover {
  transform: scale(1.1);
}

.project-grid:hover .project-card img:not(:hover) {
    opacity: 0.3;
    filter: blur(2px);
    transform: scale(0.95);
}


/* === SKILLS SECTION === */
.skills {
  position: relative;
  padding: 80px 0;
  text-align: center;
  background-color: #E3E4E4;
}

.fries-bg img {
  width: 70% ;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}

.skills-content {
  position: absolute;
  top: 720px;
  left: 50%;
  transform: translateX(-50%);
  width:  500px;
  color: white;
  cursor: pointer;
}

.skills-content h2 {
  color: #ff8800;
  font-size: 36px;
  margin-bottom: 30px;
}

.skill {
  font-weight: bold;
  font-size:25px;
  text-align: left;
  margin-bottom: 15px;
  margin-top:40px;
}

.skill span {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.bar {
  background: #ddd;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.bar div {
  border-radius:20px;
  height: 10px;
  background: linear-gradient(90deg, rgba(255,154,0,0.3), rgba(255,255,100,0.8), rgba(255,154,0,0.3));
  
}

.skill:hover .bar div {
  position: relative;
}

.skill:hover .bar div::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: linear-gradient(to right, #ff9d03, #770000);
  border-radius: 20px;
  animation: fill-move 2s ease forwards;
}

@keyframes fill-move {
  to {
    left: 0;
  }
}


/* === CONTACT SECTION === */
.contact {
  background: #E3E4E4;
  padding: 80px 60px;
  text-align: center;
}

.contact-card h2 {
  font-size: 40px;
  background: linear-gradient(40deg,#ff7700, #ff00fb);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}

.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  background: #f9f9f9;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-card img {
  width: 15rem;
  border-radius: 50%;
}

.contact-info strong {
  font-size:20px;
  font-weight: bold;
  background: linear-gradient(40deg,#ff7700, #ff00fb);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  margin: 8px 0;
}

.contact-info {
  font-weight:500;
  color: #787878;
  font-size:18px;
  margin: 8px 0;
}

.dua strong {
  font-size:20px;
  font-weight: bold;
  background: linear-gradient(90deg,#12d400,#ffa600,#ff0000,#770000,#0800ff);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  margin: 8px 0;
}

.dua {
  font-weight:500;
  color: #787878;
  font-size:18px;
  margin: 8px 0;
}

.tiga strong {
  font-size:20px;
  font-weight: bold;
  background: linear-gradient(90deg,black,#3f3f3f);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  margin: 8px 0;
}

.tiga {
  font-weight:500;
  color: #787878;
  font-size:18px;
  margin: 8px 0;
}

